.dwolla-submit input[type="submit"] {
  border: 0;
  cursor: pointer;
  display: inline-block;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 20px;
  transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #5e4e76;
  box-shadow: 0 2px 4px 0 rgba(53, 65, 83, 0.12),
    0 0 2px 0 rgba(53, 65, 83, 0.12);
}

.dwolla-customer-submit input[type="submit"] {
  border: 0;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 20px;
  transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #5e4e76;
  box-shadow: 0 2px 4px 0 rgba(53, 65, 83, 0.12),
    0 0 2px 0 rgba(53, 65, 83, 0.12);
}

.dwolla-customer-input {
  border: 0;
  cursor: pointer;
  display: inline-block;
  width: 120px;
  padding: 10px 20px;
  transition: box-shadow 0.5s, background-color 0.5s, border 0.5s;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  background-color: #fff;
  color: #5e4e76;
  box-shadow: 0 2px 4px 0 rgba(53, 65, 83, 0.12),
    0 0 2px 0 rgba(53, 65, 83, 0.12);
}

#dwolla-success {
  background-color: #ddf0e0;
  color: #58b467;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  border-color: #58b467;
  border-style: solid;
  border-width: 1px;
}

#dwolla-error {
  background-color: #fed8d6;
  color: #c63c32;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  border-color: #c63c32;
  border-style: solid;
  border-width: 1px;
}

.dwolla-link {
  color: white;
}

.dwolla-customer-tos {
  width: 100%;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-top: 20px;
}

.dwolla-customer-checkbox {
  width: 5%;
  height: 80px;
  display: inline;
  float: left;
}

.dwolla-customer-text {
  width: 91%;
  height: 80px;
  display: inline;
  float: left;
  margin-left: 10px;
}

.dwolla-input-container {
  display: inline-block;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 0px 0px;
}

.dwolla-input-container label {
  text-align: left;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.dwolla-loading {
  background-color: #5e4e76;
  position: relative;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    background-color: #5e4e76;
  }
  50% {
    background-color: #8393aa;
  }
  100% {
    background-color: #5e4e76;
  }
}
